.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 45px;
    color: #434242;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    background-color: #f0d211;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

h2:hover {
    background-color: #2170c6;
}

.header {
    display: flex;
    flex-direction: column;
}

.header p {
    color: red;
    display: flex;
    font-size: 18px;
}